[data-v-ba97d09a]{font-family:RiiT_F;text-align:left}.join-input__control select[data-v-ba97d09a],.join-input__control input[data-v-ba97d09a],.join-input__control textarea[data-v-ba97d09a]{max-width:none}
